/*
	Main CSS
	Author: Stefan Hälldahl
	Date: 2018-09-09
*/

/* Variables */
$colorbase: #ffa000;
$colordark: darken($colorbase, 10%);
$colorlight: lighten($colorbase, 10%);
$colorbackground: #1b1b1b;
$colorforground: #fdfdfd;

/* Mixins */
@mixin transform($property) {
	-webkit-transform: $property;
		-ms-transform: $property;
			transform: $property;
}
@mixin transition($property) {
	-webkit-transition: $property;
		-ms-transition: $property;
			transition: $property;
}

/* Mixins: Padding with if/else */
@mixin padding($direction, $amount)
{
	@if $direction == 'v' or $direction == 'vert' or $direction == 'vertical' {
		padding: $amount 0 $amount 0;
	}
	@else if $direction == 'h' or $direction == 'hor' or $direction == 'horizontal' {
		padding: 0 $amount 0 $amount;
	}
	@else {
		padding: $amount;
	}
}

/* Extends */
%fullwidth { width: 100%; }

/* Anchors */
a {
	color: $colorforground;
	text-decoration: none;
}

/* Logo shown top left */
.logo {
	float: left;
	background-color: $colorbase;
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
	font-weight: bolder;
	line-height: 60px;
	@include padding(h, 40px);
	text-decoration: none;
}

h2 {
	color: $colorbackground;
	/* Original from https://pixabay.com/sv/prydnadsv%C3%A4xter-dekorativa-blommig-1325298/ */
	background-image: url('../img/background_header.png');
	background-repeat: repeat;
}

/* Main container */
.container {
	@extend %fullwidth;
	max-width: 960px;
	box-sizing: border-box;
	overflow: auto;
	margin: 0 auto;
}
.container:after { clear: both }

/* All menus */
nav {
	overflow: hidden;

	.menu {
		list-style: none;
		margin: 0;
		padding: 14px 40px 0 8%;
		text-align: justify;

		&:after {
			@extend %fullwidth;
			content: '';
			display: inline-block;
			height: 0;
		}
		li {
			display: inline-block; /* Regular text (side by side) */

			a {
				position: relative; /* To get a:before absolute below */

				&:before { /* Middle and out underline effect setup */
					@extend %fullwidth;
					content: '';
					position: absolute;
					height: 2px;
					top: 21px;
					bottom: 0;
					left: 0;
					background-color: $colorforground;
					@include transform(scaleX(0));
					@include transition(all 0.25s ease-in-out 0s);
				}
				&:hover:before { /* Middle and out underline effect on hover */
					@include transform(scaleX(1));
				}
			}
		}
	}
}
.current { color: $colorlight; } /* Currently selected menu item */

/* Fixed full-width header at top */
header {
	@extend %fullwidth;
	background-color: $colorbackground;
	height: 60px;
	text-align: center;
	margin-bottom: 1em;
	position: fixed; /* Lock menu */
	top: 0;          /* Lock upper */
	left: 0;         /* Lock left */
	z-index: 100;    /* Header in front of all other elements */
}

/* See-through plate behind header text */
.relative {
	position: relative;
	margin-top: 60px;

	.absolute {
		position: absolute;
		box-sizing: border-box;
		top: 18%;
		left: 0;
		right: 0;
		max-width: 960px;
		margin: 0 auto;
	}
}

/* Hide select menu (only used in mobile layout) */
.menu-compact { display: none; }

img { max-width: 100%; } /* Dynamic images */
.fillwidth { @extend %fullwidth; }
.row-dark {	background-color: #e1e2e1; }

/* Articles (used on main page) */
article {
	width: 40%;
	float: left;
	text-align: center;
	vertical-align: top;
	@include padding(both, 4%);

	span { display: block; }
	&:nth-child(odd) { margin-right: 2%; } /* Spacing between articles */
}

/* Information box centered in the middle */
.boxmiddle {
	width: 80%;
	text-align: center;
	@include padding(both, 4%);
}

/* Article footer links */
.button {
	color: $colorbackground;
	background-color: $colorbase;
	font-weight: bold;
	display: block;
	text-align: center;
	border: 0;

	&:hover { background-color: $colordark; }
}
.button-large {
	font-size: 0.9em;
	@include padding(both, 2em);
}

/* Main footer */
footer {
	clear: both; /* Clear all floats above */
	color: $colorforground;
	background-color: $colorbackground;
	text-align: center;
	margin-top: 40px;
	@include padding(v, 30px);
	position: relative;
	.company {
		float: left;
		padding-left: 40px;
	}
	.icons {
		float: right;
		padding-right: 40px;

		a:nth-child(odd) { padding-right: 20px; }
	}
}

/* Tablet media queries */
@media (max-width: 800px) {

	nav a { font-size: 0.9em; }
	article { width: 92%; } /* Show one article per row */
	.desktop { display: none; } /* Class that is visible on desktops only */
	.textplate { font-size: 0.8em; } /* Plate behind header text smaller */

	/* Turn off touch and scroll-zoom
	   Overlay fix as CSS validator complains about "pointer-events: none;" } */
	.notouch {
		opacity: 1;
		position: relative;

		&::after {
			width: 100%;
			position: absolute;
			content: ' ';
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	/* Make buttons smaller, better looking when one column */
	article {
		.button-wide {
			display: inline-block;
			padding: 0.2em 2.5em;
		}
	}

	/* Change order on dark rows so that text is above image. Uses flexbox and is IE10+ compatible. */
	.row-dark .container {
		display: flex;
		flex-direction: column; 

		article:nth-child(even) { order: 1; }
		article:nth-child(odd) { order: 2; }
	}
}

/* Phone media queries */
@media (max-width: 600px) {
	
	.menu-std { height: 60px; }
	.textplate { font-size: 0.7em; } /* Plate behind header text smaller */
	.menu { display: none; } /* Hide horizontal menu (not used in mobile layout) */
	
	.menu-visible {
		height: 400px;

		.menu-compact > li > ul {
			display: block;
			opacity: 1;
			visibility: visible;
		}
	}
	/* Show compact menu (only used in mobile layout) */
	.menu-compact {
		display: block;
		margin: 0;
		@include padding(both, 0);
		float: right;
		line-height: initial;

		> li {
			display: inline-block;
			position: relative;
			color: $colorforground;
			padding: 10px 30px 0 30px;
			background: $colorbackground;
			cursor: pointer;

			ul {
				text-align: left;
				line-height: 2.6em;
				@include padding(both, 0);
				position: absolute;
				top: 60px;
				right: 0;
				width: 150px;
				display: none;
				opacity: 0;
				visibility: hidden;

				li { 
					background: $colorbackground; 
					display: block;
					color: $colorforground;
					padding-left: 20px;
	
					a { display: block; } /* Make whole menu item row clickable */
					&:hover { background: #6d6d6d; }
				}
			}
		}
	}

	/* Create animated hamburger icon */
	#hamburger {
		display: inline-block;
		cursor: pointer;
	}
	.bar1, .bar2, .bar3 { /* Hamburger bars */
		width: 25px;
		height: 3px;
		background-color: $colorforground;
		margin: 8px 0;
		@include transition(0.4s);
	}
	.menu-visible {
		.bar1 { /* Rotate first bar */
			@include transform(rotate(-45deg) translate(-9px, 6px));
		}
		.bar2 { opacity: 0; } /* Fade out the second bar */
		.bar3 { /* Rotate last bar */
			@include transform(rotate(45deg) translate(-8px, -8px));
		}
	}
}

/* Old phone media queries */
@media (max-width: 400px) {
	.textplate { font-size: 0.55em; } /* Plate behind header text smaller */
}
